<top-nav></top-nav>
<div class="row">
  <div class="column left">
          <button class="btn btn-success btn-md" routerLink="/addrecruiter">
          <span class="glyphicon glyphicon-plus"></span> Add</button>
    </div>
  <div class="column right">
<div class="row">
  <div class="col-md-6">
      <input type="Date" [(ngModel)]="fromDate" class="form-control" />
  </div>
  <div class="col-md-6">
      <input type="Date" [(ngModel)]="toDate" class="form-control" />
  </div>
</div>
</div>


<table class="table table-bordered ele-sticky">
    <thead>
        <tr>
            <th> SIT Recruiter Name </th>
            <th> Candidate Name</th>
            <th> Candidate Phone </th>
            <th> Skill Set </th>
            <th> Candidate Company Name </th>
            <th> Status</th>
          </tr>
        </thead>
    </table>
