<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Project</title>

<!-- Bootstrap -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet"> 
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- header -->
<header>
	<div class="container">
    	<div class="row">
        	<div class="col-xs-12">
            
<!--<div id="cssmenu">
    <ul>
        <li>Source Infotech</li>
        <li><a href="#">Candidates</a></li>
        <li><a href="#">Interview</a></li>
        <li><a href="#">Prime Vendor</a></li>
        <li><a href="#">Summary</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</div> -->
            
        		<div class="headTop">
                    <ul>
                        <li style="cursor: pointer;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Source Infotech Employees</li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
	</div>
</header>
<!-- header -->

<section class="ourSystem">
	<div class="container">
    	<div class="row">
            <div class="col-xs-12" >
    	        <div class="smry">
                    <div class="systemBox"
                        (click) = "routeSummery()">
                        <figure><img src="assets/images/summery.png"></figure>
                        <h3>Summary</h3>
                    </div>               
                </div>
            </div>
        </div>
        <div class="row">   
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6 col-md-4"
                (click) = "routeCandidates()">
            	<div class="systemBox">
            	<figure><img src="assets/images/candidates.png"></figure>
                <h3>Candidates</h3>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4"
                (click) = "routeInterviews()">
            	<div class="systemBox">
            	<figure><img src="assets/images/interview.png"></figure>
            	<h3>Interview</h3>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4"
                (click) = "routePV()">
            	<div class="systemBox">
            	<figure><img src="assets/images/vendor.png"></figure>
            	<h3>Prime Vendor</h3>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<!-- <script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script> -->
</body>
</html>
